.pin text {
  font-size:14px;
}
.pin g rect{
  stroke:black;
  fill:#aaa;
}

.pin .pin-Pin rect{
  stroke:black;
  fill:white;
}
.pin .pin-SPI rect{
  stroke:black;
  fill:pink;
}
.pin .pin-Serial rect{
  stroke:black;
  fill:cyan;
}
.pin .pin-Prog rect{
  stroke:black;
  fill:#dd77dd;
}
